{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<div>

</div>
    <div style="
                      width: 500px; border-color:black;
                      padding: 15px;
                      margin-top:10px;
                      background-color: pink;
                      box-shadow: 5px 5px grey;">

        <form method="post" action="/login/" >

            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mv-4 mx-4">Log In Yourself Here! </legend>
                {{form|crispy}}
            </fieldset>
            <div>
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
            <div>

            </div>

             <div class="border-top pt-3">
                 <small class="text-muted">Don't Have an Account?<a class="ml-2" href="/register">Sign Up</a> </small>

             </div>
        </form>
    </div>
</div>


{% endblock %}