{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div style="
                      width: 500px; border-color:black;
                      padding: 15px;
                      margin-top:10px;
                      background-color: pink;
                      box-shadow: 5px 5px grey;">
        <h1>You Hava Been Log Out</h1>
             <div class="border-top pt-3">
                 <small class="text-muted">Log In Again ?<a class="ml-2" href="/login">Log In</a> </small>

             </div>
        </form>
    </div>
</div>


{% endblock %}