{% extends 'blog_app/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <div style=" width: 500px; border-color:black;
                 padding: 15px;
                 margin-top:10px;
                 margin-left:10px;
                 background-color: pink;
                 box-shadow: 5px 5px grey; ">

        <form method="post" action="/register/">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mv-4">Join Today</legend>
                {{form|crispy}}
            </fieldset>

            <button class="btn btn-outline-info" type="submit">Sign Up</button>
            <small class="text-muted border-top pt-3">Already Have an Account?<a class="ml-2" href="/login">Sign In</a> </small>

        </form>
    </div>
</div>

{% endblock %}