{% extends 'blog_app/base.html' %}
{% block content %}
<h2 class="mb-3 mt-3 mx-auto" style="color:brown"> Post by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h2>
{% for i in post %}
<p>
<table style="width: 600px; border-color:black;
              height: 100px;
<!--          padding: 50px;-->
              -left:20px;
              background-color: pink;
              box-shadow: 5px 5px grey;">
    <tr>
        <td>
            <img class="rounded-circle" src="{{ i.author.profile.image.url }}" height="70px" width="90px">
            <a href="{% url 'user-posts' i.author.username %}"><b>{{i.author}}</b></a>
            - {{ i.date_posted | date:"F d, Y"}}</h5>
            <h4><a href="{% url 'post-detail' i.id %}">{{i.title}} </a></h4>
            <i style="color:green; padding-right:5px">{{i.content}}</i><br><br>
        </td>
    </tr>
</table>

</p>
{% endfor %}
<div >
    {% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_rage %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor%}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}

</div>

{% endblock %}

